<h3></h3>
<div class="col-lg-12" ng-controller="JadaSetupPaymentController" >
   <!--Start Row-->
   <div class="row">
      <!--Menu-->
      <div class="col-lg-3" >
         <div class="panel b">
            <div class="panel-heading text-bold">
               <h3>JADA SETUP<h3>
               <div class="ball-pulse" ng-show="paymentProgress">
                  <div></div>
                  <div></div>
                  <div></div>
               </div>  
            </div>
            <div class="panel-body bt">
               <div class="list-group"><a class="list-group-item" ui-sref="page.jada-plan"  ng-disabled="paymentProgress">Plan</a><a class="list-group-item" ui-sref="page.jada-company"  ng-disabled="paymentProgress">Company</a><a class="list-group-item" ui-sref="page.jada-adminstrator"  ng-disabled="paymentProgress">Adminstrator</a><a  class="list-group-item active"  ui-sref="page.jada-payment"  ng-disabled="paymentProgress">Payment</a>
               </div>               
            </div>
         </div>
      </div>
      <!--End Menu-->

      <!--Body-->
      <div class="col-lg-9">
          <div class="panel b ">
            <div class="panel-heading  text-bold">
               <h3>Payment<h3>
               <div class="ball-pulse" ng-show="paymentProgress">
                  <div></div>
                  <div></div>
                  <div></div>
               </div>                   
            </div>
            <div class="panel-body bt">
               
               <div class="row" >
                  <div class="col-lg-12" ng-show="!paymentProgress">
                     <div class="form-group">
                        <div class="radio c-radio">
                           <label>
                              <input class="form-control" id="chk-payment-method" type="radio" name="paymentMethod" ng-model="plan.paymentMethod" value="1" checked="checked" />
                              <span class="fa fa-check"></span>Mpesa Payment</label>
                        </div>
                     </div>                      

                     <div class="form-group">
                        <div class="radio c-radio">
                           <label>
                              <input class="form-control" id="chk-payment-method" type="radio" name="paymentMethod" ng-model="plan.paymentMethod" value="2" />
                              <span class="fa fa-check"></span>Bank Payment</label>
                        </div>
                     </div>
                     <!--<div class="form-group">
                        <div class="radio c-radio">
                           <label>
                              <input class="form-control" id="chk-payment-method" type="radio" name="paymentMethod" ng-model="plan.paymentMethod" value="3" />
                              <span class="fa fa-check"></span>Credit Card (saved)</label>
                        </div>
                     </div>-->
                    
                     <div class="form-group" ng-if="plan.paymentMethod==1">
                        <label>Mpesa Phone Number</label>
                        <input class="form-control" type="text" name="mpesaPhoneNumber" ng-model="plan.mpesaPhoneNumber" value="" ng-disabled="paymentProgress" placeholder="2547XXXXXXXX" />
                     </div>  

                     <p ng-if="plan.paymentMethod==1">Dear Customer,</p>
                     <p ng-if="plan.paymentMethod==1">
      If you click proceed, Shortly you will receive an M-PESA prompt on your phone requesting you to enter your M-PESA PIN to complete your payment. Please ensure your phone is on and unlocked to enable you to complete the process. Thank you.</p>
                     <div class="form-group" ng-if="plan.paymentMethod==1">
                        <button type="button" class="btn btn-danger" ng-click="mpesaPayment(plan.mpesaPhoneNumber)" ng-disabled="paymentProgress">Proceed</button>
                     </div>
                     <p ng-if="plan.paymentMethod==2"> Dear Customer,</p>
                     <p ng-if="plan.paymentMethod==2"> Please use the following details for making Bank Payment for your Jada Purchase. Click "Proceed" to initiate the purchase<br/>
                     <b><p ng-if="plan.paymentMethod==2"> For EQUITY BANK(KENYA) LIMITED Use<br/></b>
                        EQUITY BANK(KENYA) LIMITED<br/>
                        ACCOUNT NAME: <b>TIMECON KENYA LIMITED</b><br/>
                        BANK ACCOUNT NO: <b>0880299425843</b><br/>
                        BRANCH NAME: <b>MAMA NGINA</b><br/>
                        SWIFT CODE: <b>EQBLKENA</b><br/>
                        ACCOUNT REFERENCE: <b>{{plan.CompanyCode}}</b></p>
                     <b><p ng-if="plan.paymentMethod==2"> For NCBA BANK LIMITED Use<br/></b>
                        NCBA BANK LIMITED<br/>
                        ACCOUNT NAME: <b>TIMECON KENYA LIMITED</b><br/>
                        ACCOUNT NUMBER: <b>7881180018</b><br/>
                        BRANCH NAME: <b>UPPER HILL</b><br/>
                        SWIFT CODE: <b>CBAFKENX</b><br/>
                        ACCOUNT REFERENCE: <b>{{plan.CompanyCode}}</b></p>
                     <div class="form-group" ng-if="plan.paymentMethod==2">
                        <button type="button" class="btn btn-danger" ng-click="bankPayment()" ng-disabled="paymentProgress">Proceed</button>
                     </div>
                     <script type="text/javascript">
                        
                     </script>                     

      <!--                   <p ng-if="plan.paymentMethod==1">You can also pay using Lipa na MPESA by using the following instructions:</p>
                        <ol ng-if="plan.paymentMethod==1">
                           <li>Dear Customer,</li>
                           <li>Go to the M-PESA menu</li>
                           <li>Select Lipa na M-PESA</li>
                           <li>Select the Paybill option</li>
                           <li>Enter business number 927633</li>
                           <li>Enter your account number 1055C7123</li>
                           <li>Enter the amount <strong>KSH. {{totalAmount}}</strong></li>
                           <li>Enter PIN and press OK to send</li>
                           <li>You will receive a confirmation SMS with your payment reference number.</li>
                        </ol>    -->                      


                    

                     <div class="form-group" ng-if="plan.paymentMethod==3">
                        <label>Name on Card*</label>
                        <input class="form-control" type="text" name="checkout-cc-name" required="" />
                     </div>
                     <div class="form-group" ng-if="plan.paymentMethod==3">
                        <label>Credit Card Type*</label>
                        <select class="form-control" name="checkout-cc-type" required="">
                           <option value="">- Please Select -</option>
                           <option value="amex">American Express</option>
                           <option value="visa">Visa</option>
                           <option value="master">Mastercard</option>
                        </select>
                     </div>
                     <div class="form-group" ng-if="plan.paymentMethod==3">
                        <label>Credit Card Number*</label>
                        <input class="form-control" type="text" name="checkout-cc-number" required="" />
                     </div>
                     <div class="row" ng-if="plan.paymentMethod==3">
                        <div class="col-lg-5">
                           <div class="form-group">
                              <label>Credit Expiration month*</label>
                              <select class="form-control" name="checkout-cc-exp-month" required="">
                                 <option value="">Month</option>
                                 <option value="1">January</option>
                                 <option value="2">February</option>
                                 <option value="3">March</option>
                                 <option value="4">April</option>
                                 <option value="5">May</option>
                                 <option value="6">June</option>
                                 <option value="7">Jule</option>
                                 <option value="8">August</option>
                                 <option value="9">September</option>
                                 <option value="10">October</option>
                                 <option value="11">November</option>
                                 <option value="12">December</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-lg-5">
                           <div class="form-group">
                              <label>Credit Expiration year*</label>
                              <select class="form-control" name="checkout-cc-exp-year" required="">
                                 <option value="">Year</option>
                                 <option value="2016">2016</option>
                                 <option value="2017">2017</option>
                                 <option value="2018">2018</option>
                                 <option value="2019">2019</option>
                                 <option value="2020">2020</option>
                                 <option value="2021">2021</option>
                                 <option value="2022">2022</option>
                                 <option value="2023">2023</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-lg-2">
                           <div class="form-group">
                              <label>CNV*</label>
                              <input class="form-control" type="text" name="checkout-cc-verification" required="" />
                           </div>
                        </div>
                     </div>                         
                  </div>              
               </div>
                  
            </div>
            <div class="panel-body" ng-show="paymentProgress">
               <div class="col-lg-12">
                  <p>Please Dont Leave this page!</p>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <td>
                              <label class="text-success "><i class="fa fa-cloud-upload"></i> </label>
                           </td>
                           <td>
                              <label class="text-success ">Sending Stk Push</label>
                           </td>
                           <td>

                              <div class="ball-pulse">
                                 <div></div>
                                 <div></div>
                                 <div></div>
                              </div>                               
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <label class="text-warning "><i class="fa fa-cloud-upload"></i> </label>
                           </td>
                           <td>
                              <label class="text-warning ">Payment Received</label>
                           </td>
                           <td>

                              <div class="ball-pulse" ng-show="paymentReceived">
                                 <div></div>
                                 <div></div>
                                 <div></div>
                              </div>                               
                           </td>
                        </tr>   
                        <tr>
                           <td>
                              <label class="text-warning "><i class="fa fa-cloud-upload"></i> </label>
                           </td>
                           <td>
                              <label class="text-warning ">Client Registration</label>
                           </td>
                           <td>

                              <div class="ball-pulse" ng-show="clientRegistration">
                                 <div></div>
                                 <div></div>
                                 <div></div>
                              </div>                               
                           </td>
                        </tr>  
                        <tr>
                           <td>
                              <label class="text-warning "><i class="fa fa-cloud-upload"></i> </label>
                           </td>
                           <td>
                              <label class="text-warning ">Creating Client's Database</label>
                           </td>
                           <td>

                              <div class="ball-pulse" ng-show="creatingClientDatabase">
                                 <div></div>
                                 <div></div>
                                 <div></div>
                              </div>                               
                           </td>
                        </tr>     
                        <tr>
                           <td>
                              <label class="text-warning "><i class="fa fa-cloud-upload"></i> </label>
                           </td>
                           <td>
                              <label class="text-warning ">Creating Clients Data</label>
                           </td>
                           <td>

                              <div class="ball-pulse" ng-show="creatingClientData">
                                 <div></div>
                                 <div></div>
                                 <div></div>
                              </div>                               
                           </td>
                        </tr>  
                        <tr>
                           <td>
                              <label class="text-warning "><i class="fa fa-cloud-upload"></i> </label>
                           </td>
                           <td>
                              <label class="text-warning ">Finished</label>
                           </td>
                           <td>

                              <div class="ball-pulse" ng-show="done">
                                 <div></div>
                                 <div></div>
                                 <div></div>
                              </div>                               
                           </td>
                        </tr>                                                                                                                 
                     </tbody>
                  </table>

                           
                           
                 
<!-- 
                           <label class="text-warning "><i class="fa fa-cloud-upload"></i> </label>
                           <div class="ball-pulse" ng-show="paymentReceived">
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>                              

                           <label class="text-warning "><i class="fa fa-cloud-upload"></i> Client Registration</label>
                           <div class="ball-pulse" ng-show="clientRegistration">
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>                             

                           <label class="text-warning "><i class="fa fa-cloud-upload"></i> Creating Client's Database</label>
                           <div class="ball-pulse" ng-show="creatingClientDatabase">
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>                             

                           <label class="text-warning "><i class="fa fa-cloud-upload"></i> Creating Clients Data</label>
                           <div class="ball-pulse" ng-show="creatingClientData">
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>                             

                           <label class="text-warning "><i class="fa fa-cloud-upload"></i> Finished</label>
                           <div class="ball-pulse" ng-show="finish">
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>   -->                            

                  
               </div>
                            
            </div>
            <!--<div class="panel-body bt">-->
              <!-- <div class="col-lg-4 col-md-4">
                  <a class="btn btn-primary pull-left" ui-sref="page.jada-adminstrator" ng-disabled="paymentProgress">Back</a>   
               </div>-->
               <!--<div class="col-lg-8 col-lg-8">
                  <div class="ball-pulse" ng-show="paymentProgress">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>                  
               </div>-->
               
               <!-- <a class="btn btn-primary pull-right" ui-sref="page.jada-adminstrator"  ng-disabled="paymentProgress">Next</a> -->
            <!--</div>-->            
         </div>               
      </div>   
      <!--End Body-->

   </div>
   <!--End Row-->
</div>