<h3></h3>
<div class="col-lg-12" ng-controller="JadaRegistrationController">
   <div class="col-lg-12">
      <div class="panel b">
         <div class="panel-heading">JADA Registration</div>
         <div class="panel-body">
            <form form-wizard="" steps="4" novalidate="" ng-submit="alertSubmit()">
               <div class="form-wizard wizard-horizontal">
                  <!-- START wizard steps indicator-->
                  <ol class="row">
                     <li class="col-md-3" ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)">
                        <h4>Company</h4>
                        <small class="text-muted">A legal entity made up of an association of people, be they natural, legal, or a mixture of both, for carrying on a commercial or industrial enterprise.</small>
                     </li>
                     <li class="col-md-3" ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)">
                        <h4>Adminstrator</h4>
                        <small class="text-muted">A person who is responsible for the upkeep, configuration, and reliable operation of the system</small>
                     </li>
                     <li class="col-md-3" ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)">
                        <h4>Final</h4>
                        <small class="text-muted">Nullam sit amet magna vestibulum libero.</small>
                     </li>
                  </ol>
                  <!-- END wizard steps indicator-->
                  <!-- START Wizard Step inputs-->
                  <div ng-show="wizard.active(1)">
                     <fieldset>
                        <legend>Company</legend>
                        <!-- START row-->
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Name</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="companyName" ng-model="plan.companyName" ng-change="companyCode(plan.companyName)" placeholder="Company Name" />
                                 </div>
                              </div>
                           </div>

                        </div>

                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Code</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" disabled name="companyCode" ng-model="plan.companyCode" placeholder="Company Code" />
                                 </div>
                              </div>
                           </div>

                        </div> 
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Email Address</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="emailAddress" ng-model="plan.companyEmailAddress" placeholder="Email Address" />
                                 </div>
                              </div>
                           </div>

                        </div>   
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Company Pin</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="companyPin" ng-model="plan.companyPin" placeholder="Company Pin" />
                                 </div>
                              </div>
                           </div>

                        </div> 
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Postal Address</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="companyPostalAddress" ng-model="plan.companyPostalAddress" placeholder="Postal Address" />
                                 </div>
                              </div>
                           </div>

                        </div>  
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Phone Number</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="companyPhoneNumber" ng-model="plan.companyPhoneNumber" placeholder="Phone Number" />
                                 </div>
                              </div>
                           </div>

                        </div>                                                                                                                            
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Website</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="companyWebsite" ng-model="plan.companyWebsite" placeholder="Website" />
                                 </div>
                              </div>
                           </div>

                        </div>                          
                        <!-- END row-->
                     </fieldset>
                     <ul class="pager">
                        <li class="next"><a href="" ng-click="wizard.go(2)">Next<span>&rarr;</span></a>
                        </li>
                     </ul>
                  </div>
                  <!-- END Wizard Step inputs-->
                  <!-- START Wizard Step inputs-->
                  <div ng-show="wizard.active(2)">
                     <fieldset>
                        <legend>Adminstrator</legend>
                        <!-- START row-->
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>First Name</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="firstName" ng-model="plan.firstName" placeholder="First Name" />
                                 </div>
                              </div>
                           </div>
                        </div>   
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Middle Name</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="middleName" ng-model="plan.middleName" placeholder="Middle Name" />
                                 </div>
                              </div>
                           </div>
                        </div>   
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Last Name</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="lastName" ng-model="plan.lastName" placeholder="Last Name" />
                                 </div>
                              </div>
                           </div>
                        </div>   
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Email Address</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="emailAddress" ng-model="plan.emailAddress" placeholder="Email Address" />
                                 </div>
                              </div>
                           </div>
                        </div>   
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Phone Number</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="phoneNumber" ng-model="plan.phoneNumber" placeholder="Phone Number" />
                                 </div>
                              </div>
                           </div>
                        </div>   

                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Username</label>
                                 <div class="controls">
                                    <input class="form-control" type="text" name="userName" ng-model="plan.userName" placeholder="Username" />
                                 </div>
                              </div>
                           </div>
                        </div>   
                        <div class="row">
                           <div class="col-md-6 mb-lg">
                              <div class="form-group">
                                 <label>Password</label>
                                 <div class="controls">
                                    <input class="form-control" type="password" name="password" ng-model="plan.password" placeholder="Password" />
                                 </div>
                              </div>
                           </div>
                        </div>   

                        <!-- END row-->
                     </fieldset>
                     <ul class="pager">
                        <li class="previous">
                           <a href="" ng-click="wizard.go(1)">
                              <span>&larr; Previous</span>
                           </a>
                        </li>
                        <li class="next"><a href="" ng-click="wizard.go(3)">Next<span>&rarr;</span></a>
                        </li>
                     </ul>
                  </div>
                  <!-- END Wizard Step inputs-->

                  <!-- START Wizard Step inputs-->
                  <div ng-show="wizard.active(3)">
                     <div class="jumbotron">
                        <h1>Almost There!</h1>
                        <p>In vulputate mattis ipsum vitae vehicula. Praesent at arcu non arcu convallis pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                           <input class="btn btn-info btn-lg"  value="Proceed To Checkout" ng-click="checkout()" />
                        </p>
                     </div>
                     <ul class="pager">
                        <li class="previous">
                           <a href="" ng-click="wizard.go(3)">
                              <span>&larr; Previous</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <!-- END Wizard Step inputs-->
               </div>
            </form>
         </div>
      </div>        
   </div> 

</div>